<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Nuzlocke Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pokemon Nuzlocke Tracker</h1>
    <h3>Here to track your victories and all your losses along the way</h3>
    

    <div>Add your Nuzlocke run here:</div>
    <button><a href='/nuzlockes/new'>Add Here</a></button>
    
    <!-- <form id="add-nuzlocke-form" action="/" method="POST">
      <input type="text" name="title">
      <input type="submit" value="Add Nuzlocke Run"> -->
    </form>
  </body>
</html>
