<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Nuzlocke Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>What would you like to name your nuzlocke run?</h1>

    <div>Add your Nuzlocke run here:</div>

    <form id="add-nuzlocke-form" action="/nuzlockes" method="POST">
      <input type="text" name="title">
      <input type="submit" value="Add Nuzlocke Run">
    </form>
  </body>
</html>
