<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Nuzlocke Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div
    class=" w-full h-full bg-cover "
    style="background-image: url('https://i.imgur.com/pWfJUOh.png'); ">
    <h1 class="font-sans text-8xl bg-clip-text text-transparent bg-lime-200 font-bold p-4">What would you like to name your Nuzlocke Run?</h1>

    <div class="font-sans text-3xl text-yellow-200 font-bold px-4">Name your Nuzlocke run here:</div>

    <form id="add-nuzlocke-form" action="/nuzlockes" method="POST">
      
        <div class="px-20 py-5"><input type="text" name="title" class=" border-solid  text-2xl  rounded p-4"></div>
        <div class="px-20 py-1"><button class="bg-violet-700 hover:bg-violet-400 text-white font-bold py-2 px-4 rounded text-2xl "><input type="submit" value="Add Nuzlocke Run"></button></div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>Made by Zain</div>
    </div>
  </body>
</html>
