<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Nuzlocke Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>What Pokemon would you like to add to your team?</h1>

    <div>Add your Pokemon here:</div>

    <form id="add-pokemon-form" action="/nuzlockes" method="POST">
      <div>Pokemon:</div>
      <input type="text" name="pokemon">
      <br>
      <div>Nickname:</div>
      <input type="text" name="nickname">
      <br>
      <div>How many Gym badges did you have when you met?</div>
      <!-- <input type="number" name="badgeMet"> -->
      <select name="badgeMet">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
      </select>
      <br>
      <div>Is this Pokemon Alive?</div>
      <!-- <input type="boolean" name="alive"> -->
      <select name="alive">
          <option value="true">Yes</option>
          <option value="false">No</option>
      </select>
      <br>
      <div>Are they in your party?</div>
      <!-- <input type="boolean" name="inParty"> -->
      <select name="inParty">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
      <br>
      <div>Does their time with you have a story?</div>
      <input type="string" name="story">
      <br>
      <input type="submit" value="Add Pokemon">
    </form>
  </body>
</html>